body {
    background-color: #1E1E1E;
}

.icon-text {
    color: #FFF;
    text-align: center;
    font-family: Kosugi Maru;
    font-size: 36px;
    font-style: normal;
    line-height: normal;
}

.logo {
    display: flex;
    border-radius: 77.5px;
    border-right: 10px;
    gap: 10px;
    width: 350px;
    height: 108px;
    background: #313131;
    align-items: center;
    flex-shrink: 0;
}

.header {
    display: flex;
}

@media screen and (width <= 500px) {
    .logo {   
        flex-wrap: nowrap;  
    }

    .header {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .info-icon {
        display: none;
    }

}

@media screen and (width > 500px) {
    .header {
        justify-content: space-between;
    }
}




