body {
    background-color: #1E1E1E;
}


@media screen and (width < 500px) {
    .logo {   
        display: flex;
        flex-wrap: nowrap;
        border-radius: 77.5px;
        border-right: 10px;
        background: #313131;
        gap: 10px;
        width: 350px;
        height: 108px;
        height: 108px;
        flex-shrink: 0;
        align-items: center;
        
    }

    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .info-icon {
        display: none;
    }

    .icon-text {
        color: #FFF;
        text-align: center;
        font-family: Kosugi Maru;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
    }

}

@media screen and (width > 500px) {
    .logo {
        display: flex;
        align-items: center;
        border-radius: 77.5px;
        border-right: 10px;
        background: #313131;
        gap: 10px;
        width: 350px;
        height: 108px;
        flex-shrink: 0;
    }

    .icon-text {
        color: #FFF;
        text-align: center;
        font-family: Kosugi Maru;
        font-size: 36px;
        font-style: normal;
        line-height: normal;
    }

    .header {
        display: flex;
        justify-content: space-between;
    }
}




