<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styleInfo.css">
    <title>WebCompilerClang</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <p class="text">INFORMATION</p>
        </div>
    </div>
    <div class="main-frame">
        <div class="list">
            <p>Guide</p>
            <ol>
                <li>You can enter code on cpp in the "input" form</li>
                <li>The code is compiled clang on the server</li>
                <li>You can check result in "output" form</li>
            </ol>
        </div>
        <div class="link">
            <p>Links: </p>
            <ol>
                <li><a href="https://t.me/f5cc800d162067a76305d5439c83ed30"><img src="/telegram.svg" alt="telegram" class="telegram"></a></li>
                <li><a href="https://github.com/huka173"><img src="/github.svg" alt="github" class="github"></a></li>
            </ol>
            <p>Developer by huka</p>
        </div>
    </div>
</body>
</html>